body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    padding: 2rem;
    margin: 0;
}

.main-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #2c3e50;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.upload-box {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    border: 2px dashed #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.upload-box h2 {
    color: #555;
    margin-bottom: 10px;
    font-size: 22px;
}

.upload-box p {
    color: #888;
    margin: 5px;
}

.upload-box .file-types {
    font-weight: bold;
    color: #666;
    margin-bottom: 15px;
}

button {
    font-weight: bold;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px 5px;
    transition: backgorund-color 0.3s ease; 
}

.btn-upload {
    background-color: #3498db;
    color: white;
}

.btn-upload:hover {
    background-color: #2980b9;
}

.btn-toggle {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
}

.btn-toggle:hover {
    background-color: #d35400;
}

.dataset-info {
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #444;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    line-height: 1.6;
}

.dataset-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #2c3e50;
}

.dataset-info ul {
    padding-left: 20px;
    margin-bottom: 15px;
}

.dataset-info li {
    margin-bottom: 6px;
}

.dataset-info section {
    margin-bottom: 20px;
}

.example-img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 10px;
}

.viz-box {
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    overflow-x: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.viz-box h2 {
    font-size: 22px;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

/* === Chart Area === */
#sankey-chart, #heatmap-chart {
    width: 100% !important;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .main-title {
        font-size: 22px;
    }

    .btn-upload,
    .btn-toggle {
        width: 100%;
        margin: 10px 0;
    }

    #sankey-chart, #heatmap-chart {
        height: 400px;
    }
}

