<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Visualisasi Data Stack Overflow</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.plot.ly/plotly-2.32.0.min.js"></script>
</head>
<script>
  const uploadedFile = "{{ filename }}";
</script>
<body>
  <div class="container">
    <!-- Judul Besar -->
    <h1 class="main-title">Visualisasi Data Stack Overflow</h1>

    <!-- Upload Box -->
    <div class="upload-box" id="drop-area">
      <h2>Upload File Dataset</h2>
      <p class="file-types">.csv</p>

      <form id="upload-form">
        <input type="file" name="file" id="fileElem" accept=".csv" required hidden>
        <button type="button" id="uploadTrigger" class="btn-upload">📤 Unggah Sankey</button>
      </form>

      <form id="upload-heatmap-form">
        <input type="file" name="file" id="heatmapFile" accept=".csv" hidden>
        <button type="button" id="heatmapTrigger" class="btn-upload">📊 Unggah Heatmap</button>
      </form>

    </div>

    <button id="toggle-format-btn" class="btn-toggle"> Sembunyikan Format Dataset</button>
    <div class="dataset-info" id="format-info">
      <h3>Dataset Format</h3>

      <p><strong>For Sankey Diagrams:</strong></p>
      <ul>
        <li>Regular CSV file (use coma <code>,</code> as separator).</li>
        <li>Minimum 2 columns (flow from one point to another).</li>
        <li>The last column can be filled with numbers (number of connections).</li>
        <li><strong>Example file content:</strong><br>
            <img src="{{ url_for('static', filename='img/sankey_example.png') }}" class="example-img">
          </li>
        </li>
      </ul>

      <p><strong>For Heatmap:</strong></p>
      <ul>
        <li>CSV file using semicolon <code>;</code> as separator.</li>
        <li>First row = column header (e.g.: High;Mid;Low).</li>
        <li>First Column = row name.</li>
        <li><strong>Example file content:</strong><br>
            <img src="{{ url_for('static', filename='img/heatmap_example.png') }}" class="example-img">
          </li>
        </li>
      </ul>
    </div>


    <!-- Visualisasi, disembunyikan dulu -->
    <div id="visualization" style="display: none;">
      <div class="viz-box" id="sankey-container">
        <h2>Sankey Diagram</h2>
        <div id="sankey-chart"></div>
      </div>
   
      <div class="viz-box" id="heatmap-container">
        <h2>Heatmap</h2>
        <div id="heatmap-chart"></div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
